.slider {
    width: 340px;
    margin: 0 20px;
    display: inline-block;
}

.rc-slider-track {
    background-color: transparent;
}

.rc-slider-rail {
    height: 8px;
}

.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover,
.rc-slider-handle {
    background-color: green;
    outline: none;
    border: 2px solid green;
    box-shadow: none;
    width: 14px;
    height: 14px;
    margin-left: -7px;
    margin-top: -3px;
}